* {
  margin: 0;
  padding: 0;
}

.app {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.white {
  background-color: #5500ff;
}

.black {
  background-color: #b28f01;
}

.selected {
  background-color: #889b99;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #00f7ff;
}